/* You can add global styles to this file, and also import other style files */
body {
  background-color: #20638C;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}
